@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  object-fit: cover;
  /* width: 100%; */
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    180deg,
    #0d1117 0%,
    #1b255e 53.12%,
    #0d1117 96.35%
  );
  background-repeat: no-repeat;
  color: #c3ccd9;
  line-height: 1.4;
  font-size: 2.25rem;
}

a {
  text-decoration: none;
  color: #c3ccd9;
}
